# Programación Python para Machine Learning.

## Autor: Victor Simo Lozano

## Actividad 1
<p>Preparación del entorno y carga de datos.</p>
    

<hr style="border-color:red">

In [1]:
# Generales 
import sys

<div style="font-size:14px; text-align:justify"><b>PRIMERA PARTE.-</b><br></div>

Instalar el ecosystema Python necesario para Machine Learning.

<div style="font-size:14px; text-align:justify"><b>1: </b>Instalación <b>SciPy</b>.</div>

***Fuente:*** *https://pypi.org/project/scipy/*

In [2]:
!{sys.executable} -m pip install pip install scipy

Requirement already satisfied: pip in c:\python3_8_5\lib\site-packages (22.1.2)
Requirement already satisfied: install in c:\python3_8_5\lib\site-packages (1.3.5)
Requirement already satisfied: scipy in c:\python3_8_5\lib\site-packages (1.8.1)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in c:\python3_8_5\lib\site-packages (from scipy) (1.23.1)

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip show Scipy Numpy Pandas Matplotlib

Name: scipy
Version: 1.8.1
Summary: SciPy: Scientific Library for Python
Home-page: https://www.scipy.org
Author:
Author-email:
License: BSD
Location: c:\python3_8_5\lib\site-packages
Requires: numpy
Required-by: qiskit-aer, qiskit-terra, scikit-learn, seaborn
---
Name: numpy
Version: 1.23.1
Summary: NumPy is the fundamental package for array computing with Python.
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: BSD
Location: c:\python3_8_5\lib\site-packages
Requires:
Required-by: matplotlib, pandas, qiskit-aer, qiskit-ibmq-provider, qiskit-terra, retworkx, scikit-learn, scipy, seaborn
---
Name: pandas
Version: 1.4.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\python3_8_5\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: seaborn
---
Name: matplotlib
Version: 3.5.2
Summary: Python plotting package
Home-page: https://matplotlib.org
Author: John D. Hunter, Michael Droettboom
Author-email: matplotlib-users@python.org
License: PSF
Location: c:\python3_8_5\lib\site-packages
Requires: cycler, fonttools, kiwisolver, numpy, packaging, pillow, pyparsing, python-dateutil
Required-by: seaborn

<div style="font-size:14px; text-align:justify"><b>2: </b>Instalación <b>Scikit-learn</b>.</div>

***Fuente:*** *https://pypi.org/project/scikit-learn/*

In [4]:
!{sys.executable} -m pip install pip install scikit-learn

Requirement already satisfied: pip in c:\python3_8_5\lib\site-packages (22.1.2)
Requirement already satisfied: install in c:\python3_8_5\lib\site-packages (1.3.5)
Requirement already satisfied: scikit-learn in c:\python3_8_5\lib\site-packages (1.1.2)
Requirement already satisfied: scipy>=1.3.2 in c:\python3_8_5\lib\site-packages (from scikit-learn) (1.8.1)
Requirement already satisfied: joblib>=1.0.0 in c:\python3_8_5\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\python3_8_5\lib\site-packages (from scikit-learn) (1.23.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python3_8_5\lib\site-packages (from scikit-learn) (3.1.0)

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip show scikit-learn

Name: scikit-learn
Version: 1.1.2
Summary: A set of python modules for machine learning and data mining
Home-page: http://scikit-learn.org
Author:
Author-email:
License: new BSD
Location: c:\python3_8_5\lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by:

 <br>

<div style="font-size:14px; text-align:justify"><b>SEGUNDA PARTE.-</b><br></div>

Desde el repositorio UCI, consigue un dataset y cárgalo mediante los distintos métodos vistos en la lección. Visualiza el tamaño de estos y comprueba que coincide según los diferentes métodos.

En una primera parte, se cargará datos mediante el Módulo nativo de Python, Numpy y Pandas comparando que el tamaño de los datos leidos es el mismo. El dataset empleado se ha conseguido de: *https://archive.ics.uci.edu/ml/datasets/Communities+and+Crime*

In [6]:
file='communities.csv'

<div style="font-size:14px; text-align:justify"><b>1: </b>Cargar de datos con el <b>Módulo nativo Python</b>.</div>

In [7]:
# Importación del módulo nativo
import csv

# Carga de datos
dataset = open(file, 'rt')
reader = csv.reader(dataset, delimiter=',', quoting=csv.QUOTE_NONE)
data=list(reader)
# Imprimir datos
print(data[:5])

[['8', '?', '?', 'Lakewoodcity', '1', '0.19', '0.33', '0.02', '0.9', '0.12', '0.17', '0.34', '0.47', '0.29', '0.32', '0.2', '1', '0.37', '0.72', '0.34', '0.6', '0.29', '0.15', '0.43', '0.39', '0.4', '0.39', '0.32', '0.27', '0.27', '0.36', '0.41', '0.08', '0.19', '0.1', '0.18', '0.48', '0.27', '0.68', '0.23', '0.41', '0.25', '0.52', '0.68', '0.4', '0.75', '0.75', '0.35', '0.55', '0.59', '0.61', '0.56', '0.74', '0.76', '0.04', '0.14', '0.03', '0.24', '0.27', '0.37', '0.39', '0.07', '0.07', '0.08', '0.08', '0.89', '0.06', '0.14', '0.13', '0.33', '0.39', '0.28', '0.55', '0.09', '0.51', '0.5', '0.21', '0.71', '0.52', '0.05', '0.26', '0.65', '0.14', '0.06', '0.22', '0.19', '0.18', '0.36', '0.35', '0.38', '0.34', '0.38', '0.46', '0.25', '0.04', '0', '0.12', '0.42', '0.5', '0.51', '0.64', '0.03', '0.13', '0.96', '0.17', '0.06', '0.18', '0.44', '0.13', '0.94', '0.93', '0.03', '0.07', '0.1', '0.07', '0.02', '0.57', '0.29', '0.12', '0.26', '0.2', '0.06', '0.04', '0.9', '0.5', '0.32', '0.14', '0.2'], ['53', '?', '?', 'Tukwilacity', '1', '0', '0.16', '0.12', '0.74', '0.45', '0.07', '0.26', '0.59', '0.35', '0.27', '0.02', '1', '0.31', '0.72', '0.11', '0.45', '0.25', '0.29', '0.39', '0.29', '0.37', '0.38', '0.33', '0.16', '0.3', '0.22', '0.35', '0.01', '0.24', '0.14', '0.24', '0.3', '0.27', '0.73', '0.57', '0.15', '0.42', '0.36', '1', '0.63', '0.91', '1', '0.29', '0.43', '0.47', '0.6', '0.39', '0.46', '0.53', '0', '0.24', '0.01', '0.52', '0.62', '0.64', '0.63', '0.25', '0.27', '0.25', '0.23', '0.84', '0.1', '0.16', '0.1', '0.17', '0.29', '0.17', '0.26', '0.2', '0.82', '0', '0.02', '0.79', '0.24', '0.02', '0.25', '0.65', '0.16', '0', '0.21', '0.2', '0.21', '0.42', '0.38', '0.4', '0.37', '0.29', '0.32', '0.18', '0', '0', '0.21', '0.5', '0.34', '0.6', '0.52', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '0.02', '0.12', '0.45', '?', '?', '?', '?', '0', '?', '0.67'], ['24', '?', '?', 'Aberdeentown', '1', '0', '0.42', '0.49', '0.56', '0.17', '0.04', '0.39', '0.47', '0.28', '0.32', '0', '0', '0.3', '0.58', '0.19', '0.39', '0.38', '0.4', '0.84', '0.28', '0.27', '0.29', '0.27', '0.07', '0.29', '0.28', '0.39', '0.01', '0.27', '0.27', '0.43', '0.19', '0.36', '0.58', '0.32', '0.29', '0.49', '0.32', '0.63', '0.41', '0.71', '0.7', '0.45', '0.42', '0.44', '0.43', '0.43', '0.71', '0.67', '0.01', '0.46', '0', '0.07', '0.06', '0.15', '0.19', '0.02', '0.02', '0.04', '0.05', '0.88', '0.04', '0.2', '0.2', '0.46', '0.52', '0.43', '0.42', '0.15', '0.51', '0.5', '0.01', '0.86', '0.41', '0.29', '0.3', '0.52', '0.47', '0.45', '0.18', '0.17', '0.16', '0.27', '0.29', '0.27', '0.31', '0.48', '0.39', '0.28', '0', '0', '0.14', '0.49', '0.54', '0.67', '0.56', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '0.01', '0.21', '0.02', '?', '?', '?', '?', '0', '?', '0.43'], ['34', '5', '81440', 'Willingborotownship', '1', '0.04', '0.77', '1', '0.08', '0.12', '0.1', '0.51', '0.5', '0.34', '0.21', '0.06', '1', '0.58', '0.89', '0.21', '0.43', '0.36', '0.2', '0.82', '0.51', '0.36', '0.4', '0.39', '0.16', '0.25', '0.36', '0.44', '0.01', '0.1', '0.09', '0.25', '0.31', '0.33', '0.71', '0.36', '0.45', '0.37', '0.39', '0.34', '0.45', '0.49', '0.44', '0.75', '0.65', '0.54', '0.83', '0.65', '0.85', '0.86', '0.03', '0.33', '0.02', '0.11', '0.2', '0.3', '0.31', '0.05', '0.08', '0.11', '0.11', '0.81', '0.08', '0.56', '0.62', '0.85', '0.77', '1', '0.94', '0.12', '0.01', '0.5', '0.01', '0.97', '0.96', '0.6', '0.47', '0.52', '0.11', '0.11', '0.24', '0.21', '0.19', '0.75', '0.7', '0.77', '0.89', '0.63', '0.51', '0.47', '0', '0', '0.19', '0.3', '0.73', '0.64', '0.65', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '0.02', '0.39', '0.28', '?', '?', '?', '?', '0', '?', '0.12'], ['42', '95', '6096', 'Bethlehemtownship', '1', '0.01', '0.55', '0.02', '0.95', '0.09', '0.05', '0.38', '0.38', '0.23', '0.36', '0.02', '0.9', '0.5', '0.72', '0.16', '0.68', '0.44', '0.11', '0.71', '0.46', '0.43', '0.41', '0.28', '0', '0.74', '0.51', '0.48', '0', '0.06', '0.25', '0.3', '0.33', '0.12', '0.65', '0.67', '0.38', '0.42', '0.46', '0.22', '0.27', '0.2', '0.21', '0.51', '0.91', '0.91', '0.89', '0.85', '0.4', '0.6', '0', '0.06', '0', '0.03', '0.07', '0.2', '0.27', '0.01', '0.02', '0.04', '0.05', '0.88', '0.05', '0.16', '0.19', '0.59', '0.6', '0.37', '0.89', '0.02', '0.19', '0.5', '0.01', '0.89', '0.87', '0.04', '0.55', '0.73', '0.05', '0.14', '0.31', '0.31', '0.3', '0.4', '0.36', '0.38', '0.38', '0.22', '0.51', '0.21', '0', '0', '0.11', '0.72', '0.64', '0.61', '0.53', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '0.04', '0.09', '0.02', '?', '?', '?', '?', '0', '?', '0.03']]

In [8]:
# Longitud de los datos: fila, columna
len(data), len(data[0])

(1994, 128)

Con este método, se obtiene los valores en forma de lista, pues ees necesaria la conversión de ```reader```.<br>
Se trata de un set de datos con **1994** parámetros y **128** atributos. Es por ello que la muestra de los datos se realiza de los primeros 5 datos.<br>
**Desventajas:** Se trata de un formato lista y no datos ordenados en filas y columnas, necesario para ML. Además, los datos numéricos son recogidos como string, por lo que se deberia convertir a numero para su uso.

<div style="font-size:14px; text-align:justify"><b>2: </b>Cargar de datos con <b>Numpy</b>.</div>

In [9]:
# Importación de módulo y función loadtxt
from numpy import loadtxt

# Carga de datos
data=open(file, 'rt')
data=loadtxt(data, delimiter=",", dtype=str)

# Muestra de datos
data

array([['8', '?', '?', ..., '0.32', '0.14', '0.2'],
       ['53', '?', '?', ..., '0', '?', '0.67'],
       ['24', '?', '?', ..., '0', '?', '0.43'],
       ...,
       ['9', '9', '80070', ..., '0.91', '0.28', '0.23'],
       ['25', '17', '72600', ..., '0.22', '0.18', '0.19'],
       ['6', '?', '?', ..., '1', '0.13', '0.48']], dtype='<U28')

In [10]:
# Longitus de los datos: fila, columna
data.shape

(1994, 128)

Con el uso de Numpy para la lectura de los datos, no se necesita convertir la variable de lectura del fichero a lista. Con este módulo se obtiene el resultado en formato
array, además de una muestra de los datos más clara.<br>
Del mismo modo que con el modulo csv de Pyhton, la longitud de los datos es de **(1994, 128)**, longitud que podemos ver con un comando directamente.<br>
**Desventajas:** Se sigue tratando de un formato no en filas y columnas. En este caso, seguimos leyendo los valores como string.

<div style="font-size:14px; text-align:justify"><b>3: </b>Cargar de datos con <b>Pandas</b>.</div>

In [11]:
atrib=['state','county','community','communityname','fold','population','householdsize','racepctblack','racePctWhite',
'racePctAsian','racePctHisp','agePct12t21','agePct12t29','agePct16t24','agePct65up','numbUrban','pctUrban',
'medIncome','pctWWage','pctWFarmSelf','pctWInvInc','pctWSocSec','pctWPubAsst','pctWRetire','medFamInc',
'perCapInc','whitePerCap','blackPerCap','indianPerCap','AsianPerCap','OtherPerCap','HispPerCap','NumUnderPov',
'PctPopUnderPov','PctLess9thGrade','PctNotHSGrad','PctBSorMore','PctUnemployed','PctEmploy','PctEmplManu',
'PctEmplProfServ','PctOccupManu','PctOccupMgmtProf','MalePctDivorce','MalePctNevMarr','FemalePctDiv','TotalPctDiv',
'PersPerFam','PctFam2Par','PctKids2Par','PctYoungKids2Par','PctTeen2Par','PctWorkMomYoungKids','PctWorkMom',
'NumIlleg','PctIlleg','NumImmig','PctImmigRecent','PctImmigRec5','PctImmigRec8','PctImmigRec10','PctRecentImmig',
'PctRecImmig5','PctRecImmig8','PctRecImmig10','PctSpeakEnglOnly','PctNotSpeakEnglWell','PctLargHouseFam',
'PctLargHouseOccup','PersPerOccupHous','PersPerOwnOccHous','PersPerRentOccHous','PctPersOwnOccup','PctPersDenseHous',
'PctHousLess3BR','MedNumBR','HousVacant','PctHousOccup','PctHousOwnOcc','PctVacantBoarded','PctVacMore6Mos',
'MedYrHousBuilt','PctHousNoPhone','PctWOFullPlumb','OwnOccLowQuart','OwnOccMedVal','OwnOccHiQuart','RentLowQ',
'RentMedian','RentHighQ','MedRent','MedRentPctHousInc','MedOwnCostPctInc','MedOwnCostPctIncNoMtg',
'NumInShelters','NumStreet','PctForeignBorn','PctBornSameState','PctSameHouse85','PctSameCity85','PctSameState85',
'LemasSwornFT','LemasSwFTPerPop','LemasSwFTFieldOps','LemasSwFTFieldPerPop','LemasTotalReq','LemasTotReqPerPop',
'PolicReqPerOffic','PolicPerPop','RacialMatchCommPol','PctPolicWhite','PctPolicBlack','PctPolicHisp',
'PctPolicAsian','PctPolicMinor','OfficAssgnDrugUnits','NumKindsDrugsSeiz','PolicAveOTWorked','LandArea',
'PopDens','PctUsePubTrans','PolicCars','PolicOperBudg','LemasPctPolicOnPatr','LemasGangUnitDeploy',
'LemasPctOfficDrugUn','PolicBudgPerPop','ViolentCrimesPerPop']
len(atrib)

128

In [12]:
# Importacion modulo y función read_csv
from pandas import read_csv

# Carga de los datos
data = read_csv(file, names=atrib, index_col=False)

# Muestra de los datos
data.head()

,state,county,community,communityname,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,LemasPctOfficDrugUn,PolicBudgPerPop,ViolentCrimesPerPop
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
2,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Columns: 128 entries, state to ViolentCrimesPerPop
dtypes: float64(100), int64(2), object(26)
memory usage: 1.9+ MB

Con Pandas, con una sola linea se ha podido cargar los datos del data set, del mismo modo que con una linea, imprimir los datos. 
En este caso, se ve como la longitud del set de datos es la misma que con los otros métodos, **(1994, 128)**. Además, y más importante, los datos se presentan del modo idóneo de filas y columnas para su posterior trabajo.

A continuación, se va realizará una serie de muestras de dataframes obtenidos del mismo repositorio de datasets, UCI.

**Tetuan City power consumption**<br>
***Fuente:*** *https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city*

In [14]:
df=read_csv('Tetuan City power consumption.csv')
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

**Banderas del mundo**<br>
***Fuente:*** *https://archive.ics.uci.edu/ml/datasets/Flags*

In [15]:
from pandas import read_table

atrib=['name','landmass','zone','area','population','language','religion','bars','stripes',
       'colours','red','green','blue','gold','white','black','orange','mainhue','circles',
       'crosses','saltires','quarters','sunstars','crescent','triangle','icon','animate',
       'text','topleft','botright',]

df=read_table('flag.data', delimiter=',', names=atrib)
df

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green